---
### Description :  예선 1차 데이터 Quick Test  
### Author : forrest Park

In [1]:
import pandas as pd ,sys,os
sys.path.append("../../Functions/")
from Function import Service

from Function_test import DataPreprocessing as DI
input_data = pd.read_csv('../../Data/2023_smartFarm_AI_hackathon_dataset.csv')
input_data.tail()
# Service.dataInfoProcessing(input_data)
DI.dataInfo(input_data)

column 수 : 47

In [6]:
input_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84840 entries, 0 to 84839
Data columns (total 47 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   frmDist                    84840 non-null  object
 1   date                       84840 non-null  int64
 2   inTp                       84840 non-null  float64
 3   inHd                       84840 non-null  float64
 4   otmsuplyqy                 84840 non-null  float64
 5   acSlrdQy                   84840 non-null  float64
 6   cunt                       84840 non-null  float64
 7   ph                         84840 non-null  float64
 8   outTp                      84840 non-null  float64
 9   outWs                      84840 non-null  float64
 10  daysuplyqy                 84840 non-null  float64
 11  inCo2                      84840 non-null  float64
 12  ec                         84840 non-null  float64
 13  frmYear                    84840 non-null  int64
 14  frmWeek                    84840 non-null  int64
 15  frtstGrupp                 84840 non-null  float64
 16  lefstalklt                 84840 non-null  float64
 17  frtstSetCo                 84840 non-null  float64
 18  pllnLt                     84840 non-null  float64
 19  flanGrupp                  84840 non-null  float64
 20  frtstCo                    84840 non-null  float64
 21  flanJnt                    84840 non-null  float64
 22  tcdmt                      84840 non-null  float64
 23  frmhsFclu                  84840 non-null  float64
 24  hvstGrupp                  84840 non-null  float64
 25  hvstJnt                    84840 non-null  float64
 26  grwtLt                     84840 non-null  float64
 27  fcluHg                     84840 non-null  float64
 28  lefLt                      84840 non-null  float64
 29  flwrCo                     84840 non-null  float64
 30  hvstCo                     84840 non-null  float64
 31  lefCunt                    84840 non-null  float64
 32  frtstJnt                   84840 non-null  float64
 33  lefBt                      84840 non-null  float64
 34  stemThck                   84840 non-null  float64
 35  frmAr                      84840 non-null  int64
 36  frmDov                     84840 non-null  float64
 37  outtrn_cumsum              84840 non-null  float64
 38  WaterUsage                 84840 non-null  float64
 39  WaterCost                  84840 non-null  float64
 40  FertilizerUsage            84840 non-null  float64
 41  FertilizerCost             84840 non-null  float64
 42  CO2Usage                   84840 non-null  float64
 43  CO2Cost                    84840 non-null  float64
 44  MistUsageTime              84840 non-null  float64
 45  Mist Cost                  84840 non-null  float64
 46  HeatingEnergyUsage_cumsum  84840 non-null  float64
dtypes: float64(42), int64(4), object(1)
memory usage: 30.4+ MB