In [2]:
## input data 정제 

import pandas as pd 

dataB = pd.read_csv("./Data/사전테스트-환경데이터/environmentsB.csv")
dataC = pd.read_csv("./Data/사전테스트-환경데이터/environmentsC.csv")
dataD = pd.read_csv("./Data/사전테스트-환경데이터/environmentsD.csv")
dataE = pd.read_csv("./Data/사전테스트-환경데이터/environmentsE.csv")

dataR = pd.read_excel("./Data/사전테스트-생육데이터.xlsx")

In [9]:
#### Jupyter Basic Setting ####
import pandas as pd,numpy as np
import matplotlib.pyplot as plt,seaborn as sns  # 시각화
import warnings; warnings.filterwarnings('ignore')  # 경고 무시
import sys,os
from pprint import pprint 
parent_dir = os.path.dirname(os.getcwd())
parent_dir = os.path.dirname(parent_dir)
sys.path.append(parent_dir)
from Functions import Service as S
# 기본 세팅
S.plotSetting("seaborn-v0_8")
def blue(str):return S.colored_text(str,'blue')
def yellow(str):return S.colored_text(str,'yellow')
def red(str):return S.colored_text(str,'red')
def green(str):return S.colored_text(str,'green')

___ 🟡 PLOTSETTING.
______ 📌 matplotlibn plot 한글화 Setting
___## OS platform 한글 세팅완료 ## ___

In [3]:
import pandas as pd
from datetime import datetime, timedelta

# 주차 계산 함수
def calculate_week(target_date, base_week, startMonth, startDate):
    # 문자열 날짜를 datetime 객체로 변환
    date = pd.to_datetime(target_date, format='%Y%m%d')
    
    # 기준 날짜 설정
    base_date = datetime(2023, startMonth, startDate)
    base_date_timestamp = pd.Timestamp(base_date)

    # 날짜 차이 계산
    delta_days = (date - base_date_timestamp).days

    # 기준 주차에서 날짜 차이를 주 단위로 변환
    week = base_week + delta_days // 7
    print( date , f'는 {base_date}로 부터 {week}주차 입니다')
    return week

# 테스트
print(calculate_week('20230928', 1, 9, 20))

# # for문을 사용하여 주차 데이터를 데이터프레임에 추가
# for data, farm_name in zip(datalist, list):
#     print(f"{farm_name} 농가")
#     dates = pd.to_datetime(data['date'])
#     weeks = calculate_week(dates, base_week, 10, 28)
#     data['weeks'] = weeks

2023-09-28 00:00:00 는 2023-09-20 00:00:00로 부터 2주차 입니다
2

In [4]:
119*9

1071

In [26]:
# datatime에서 날짜와 시간을 잘라서 df 만들기
# dataB['datetime'] = pd.to_datetime(dataB['datetime'])
# dataB['date'] = dataB['datetime'].dt.date
# dataB.head()

datalist = [dataB, dataC, dataD, dataE]

## datetime을 date로 변경 
for data in datalist:
    data['datetime'] = pd.to_datetime(data['datetime'])
    data['date'] = data['datetime'].dt.date
    data['month']= data['datetime'].dt.month
    data['dayname']= data['datetime'].dt.day_of_week
    # data['time'] = data['datetime'].dt.hour
test_mean = dataC.groupby(['date','farm']).mean(numeric_only=True)
# test_median = dataC.groupby(['date','farm']).transform('median',numeric_only=True)
test_median = dataC.groupby(['date','farm']).median(numeric_only=True)
test_std = dataC.groupby(['date','farm']).std(numeric_only=True)
test_min = dataC.groupby(['date','farm']).min(numeric_only=True)
test_max = dataC.groupby(['date','farm']).max(numeric_only=True)



print(test_median.tail())
print(yellow("--"*200))
print(test_count)
print(yellow("--"*200))

                 supplyEC  supplyPH  innerCO2  innerHum  innerTemp  \
date       farm
2024-04-22 C농가        1.0       6.0   259.615    66.830     18.280
2024-04-23 C농가        1.0       6.0   270.270    70.120     16.940
2024-04-24 C농가        1.0       6.0   267.035    76.790     15.535
2024-04-25 C농가        1.0       6.0   259.155    70.375     17.435
2024-04-26 C농가        1.0       6.0   289.205    71.890     18.295

                 innerSolar  month  dayname
date       farm
2024-04-22 C농가       59.425    4.0      0.0
2024-04-23 C농가       58.690    4.0      1.0
2024-04-24 C농가       76.965    4.0      2.0
2024-04-25 C농가       68.025    4.0      3.0
2024-04-26 C농가       71.000    4.0      4.0
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<bound method GroupBy.count of <pandas.core.groupby.generic.DataFrameGroupBy object at 0x17c02fad0>>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [27]:
data

,farm,datetime,supplyEC,supplyPH,innerCO2,innerHum,innerTemp,innerSolar,date,month,dayname
0,E농가,2023-10-10 14:00:00,0.09,6.0,268.11,29.78,31.64,180.81,2023-10-10,10,1
1,E농가,2023-10-10 15:00:00,0.94,6.0,265.27,31.75,29.60,9.75,2023-10-10,10,1
2,E농가,2023-10-10 16:00:00,0.08,6.0,267.31,34.64,28.89,74.85,2023-10-10,10,1
3,E농가,2023-10-10 17:00:00,0.00,6.0,267.58,48.66,25.95,21.49,2023-10-10,10,1
4,E농가,2023-10-10 18:00:00,0.00,6.0,280.47,52.36,23.94,0.00,2023-10-10,10,1
...,...,...,...,...,...,...,...,...,...,...,...
4199,E농가,2024-04-26 19:00:00,0.00,6.0,287.09,62.90,23.20,75.07,2024-04-26,4,4
4200,E농가,2024-04-26 20:00:00,0.00,6.0,330.85,67.27,20.88,79.33,2024-04-26,4,4
4201,E농가,2024-04-26 21:00:00,0.00,6.0,356.48,68.93,19.61,82.90,2024-04-26,4,4
4202,E농가,2024-04-26 22:00:00,0.00,6.0,386.59,69.66,18.47,91.01,2024-04-26,4,4
4203,E농가,2024-04-26 23:00:00,0.00,6.0,408.73,70.00,18.00,93.68,2024-04-26,4,4